.display {
    position: absolute;
    margin: auto;
    right: 20%;
    bottom: 2vh;

    width: 10%;
    height: 3.2vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 25%;
}

.bar {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.3);
}

.barLevel {
    height: 100%;
    max-width: 100%;
    border-radius: 25px;
    transition: 500ms linear;
}

.nos {
    background: linear-gradient(90deg, rgb(30, 63, 133) 0%, rgb(51, 123, 218) 100%);
}
.purge {
    background: linear-gradient(90deg, rgb(133, 133, 133) 0%,rgb(255, 255, 255) 100%);
}
